.popup__close-button {
  background-image: url(../../../images/popup__close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    right: 0;
    top: -36px;
    background-size: 20px 20px;
  }
}
