.footer {
  width: calc(100% - 400px);
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1060px) {
  .footer {
    width: calc(100% - 100px);
  }
}


@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 38px);
    margin-top: 48px;
  }
}
